@charset "utf-8";
$color: rgba(0, 0, 0, 0.5);

.cf {
  clear: both;
}

body {
  margin: 0;
  background: #f4f4f4;
  color: $color;
}

/* ========================
===========================
ヘッダーCSS
===========================
============================*/

header {
  width: 100%;
  height: 440px;
  background: url(images/header.jpg) no-repeat;
  background-size: 100%;

  h1{
      color: white;
      font-size: 94px;
      color: white;
      display: block;
      text-align: center;
      padding-top: 100px;
      line-height: 1;
    
      span {
        font-size: 36px;
        margin-top: 30px;
      }
    }
}

#header_wrapper {
  margin: 0 auto;

  /* 質問：ここにマージンが必要な理由がわからない */
}


/* ========================
===========================
nav CSS
===========================
============================*/

#gnav {
  width: 100%;
  height: 43px;
  padding: 10px;
  margin: 0 auto;


@mixin back{
  background-size: 24px 24px;
  background-position-y: 6px;
  background-position-x: 10px;
}

  ul {
    width: 800px;
    height: 50px;
    margin: 0 auto;
    list-style: none;

    li {
      float: left;
      padding: 0 40px;

      &:nth-child(1) {
        background: url(images/profile.png) no-repeat;
        @include back;
      }

      &:nth-child(2) {
        background: url(images/skills.png) no-repeat;
        @include back;
      }

      &:nth-child(3) {
        background: url(images/works.png) no-repeat;
        @include back;
      }

      &:nth-child(4) {
        background: url(images/contact.png) no-repeat;
        @include back;
      }

      a {
        font-size: 24px;
        font-weight: bold;
        color: $color;
        display: inline-block;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.8;
        border-bottom: 1px solid $color;
      }
    }
  }
}


/* ========================
===========================
プロフィールCSS
===========================
============================*/

@mixin boxsize{
  width: 100%;
  height: auto;
}

@mixin icon($icon_position){
  background-size: 50px 50px;
  background-position-y: center;
  background-position-x: $icon_position;
}

@mixin title_h2($line_height){
  text-align: center;
  line-height: $line_height;
  font-size: 50px; 
}

#profile {
  @include boxsize;
  padding-top: 145px;
}

#profile_title {
  @include boxsize;
  margin: 0 auto 62px auto;

  h2 {
    @include title_h2(75px);
    background: url(images/profile.png) no-repeat;
    @include icon(35%);
  }
}

#profile_content {
  width: 1017px;
  height: 222px;
  margin: 0 auto 130px auto;
}

#profile_img {
  width: 338px;
  height: 222px;
  margin-right: 48px;
  float: left;

  img {
    border-radius: 50%;
    width: 338px;
    height: 222px;
  }
}

#profile_text p {
  height: 222px;
  width: 631px;
  float: left;

  a {
    color: blue;
    text-decoration: none;
  }
}

/* ========================
===========================
スキルCSS
===========================
============================*/

#skill {
  @include boxsize;
  margin-bottom: 130px;
}

#skill_title {
  width: 100%;
  height: 60px;
  margin: 0 auto 62px auto;

  h2 {
    @include title_h2(60px);
    background: url(images/skills.png) no-repeat;
    @include icon(39%);
  }
}

/* テーブル作成CSS */

.skill_subtitle {
  font-size: 26px;
  color: black;
  text-align: center;

  img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
  }
}

.skill_explanation {
  font-size: 16px;
  color: black;
  text-align: center;
}

table {
  width: 465px;
  table-layout: fixed;
  text-align: center;

  &:nth-of-type(1) {
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }
}

th {
  font-weight: bold;
  padding: 15px;
}

td {
  padding: 12px;
}

tr td:nth-of-type(1) {
  font-weight: bold;
  color: black;
}

/* ボックス作成CSS */

@mixin skillbox($skillbox_height){
  width: 1017px;
  height: $skillbox_height;
  margin: 0 auto 54px auto;
}

@mixin skilltable_left($left_height) {
  width: 465px;
  height: $left_height;
  background: white;
  float: left;
  margin-right: 84px;
}

@mixin skilltable_right($right_height) {
  width: 465px;
  height: $right_height;
  background: white;
  float: left;
}

#slill_first_p {
  @include skillbox(auto);
  padding: 20px;
  box-sizing: border-box;
  background: white;
}

#slill_second_p {
  @include skillbox(385px);
}

#skill_third_p {
  @include skillbox(303px);
}

#skill_fourth_p {
  @include skillbox(575px);
}

#skill_front {
  @include skilltable_left(385px);
}

#skill_back {
  @include skilltable_right(385px);
}

#skill_DB {
  @include skilltable_left(303px);
}

#skill_infra {
  @include skilltable_right(303px)
}

#skill_other {
  @include skilltable_left(575px);
}

#skill_Owned {
  @include skilltable_right(575px)
}

/* ========================
===========================
ワークスCSS
===========================
============================*/

#works {
  @include boxsize;
  margin-bottom: 130px;
}

#works_title {
  width: 100%;
  height: 60px;
  margin: 0 auto 62px auto;

  h2 {
    @include title_h2(60px);
    background: url(images/works.png) no-repeat;
    @include icon(35%);
  }
}

#works_list {
  width: 100%;
  height: 430px;

  /* margin: 0;
  padding: 0;
  横の空白を消せない */

  ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;

    li {
      width: 31%;
      height: 421px;
      background: white;
      border: 1px solid rgba(0, 0, 0, 0.2);
      list-style: none;

      .works_list_img {
        width: 100%;
        height: 240px;
      }

      dl {
        width: 100%;
        height: 180px;
        text-align: center;

        dt {
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          padding-bottom: 10px;
        }

        dd {
          width: 100%;
          font-size: 11px;
          text-align: center;
          padding-bottom: 10px;
          padding-top: 5px;
          margin-left: 0;

          &:nth-child(1) {
            padding-top: 10px;
          }

          a {
            color: blue;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* ========================
===========================
コンタクトCSS
===========================
============================*/

#contact {
  @include boxsize;
}

#contact_title {
  width: 100%;
  height: 60px;
  display: inline-block;
  text-align: center;

  h2 {
    @include title_h2(1);
    background: url(images/works.png) no-repeat;
    @include icon(35%);
  }
}

.contact_img {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;

  a {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    font-size: 16px;
    text-decoration: none;
    color: blue;
    font-weight: bold;

    &:hover {
      border-bottom: 1px solid blue;
    }
  }
}

/* ========================
===========================
フッターCSS
===========================
============================*/

footer {
  width: 100%;
  height: 138px;
  background: #333333;
}

#footer_content {
  text-align: center;
  padding-top: 10px;
}

footer {
  ul li {
    padding-right: 50px;
    display: inline;

    a {
      color: white;
      text-align: center;
      list-style: none;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;

      &:hover {
        border-bottom: 1px solid;
        color: rgba(220, 220, 220, 1);
      }
    }
  }

  p {
    color: rgba(250, 250, 220, 0.8);
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  /* ========================
  ===========================
  ヘッダーレスポンシブCSS
  ===========================
  ============================*/

  header {
    height: 200px;

    h1 {
      font-size: 40px;
      padding-top: 20px;
      text-align: left;

      span {
        font-size: 11px;

        /* 後ほどウェブエンジニアの文字を横にする */
      }
    }
  }

  /* ========================
===========================
navレスポンシブCSS
===========================
============================*/

  #gnav ul {
    @include boxsize;

    li {
      padding: 0 15px;

      a {
        font-size: 5px;
      }

      &:nth-child(1) {
        background-size: 13px 13px;
        background-position-x: -10px;

        /* 後ほどアイコンの位置の調整をする */
      }
    }
  }

  /* ========================
  ===========================
  プロフィールCSS
  ===========================
  ============================*/

  #profile {
    padding-top: 40px;
    margin-bottom: 30px;
    height: 600px;
  }

  #profile_title {
    margin-bottom: 20px;

    @mixin responsive_h2($position_x){
      font-size: 35px;
      background-size: 35px 35px;
      background-position-x: $position_x;
    }

    h2 {
      @include responsive_h2(60px);
    }
  }

  #profile_content {
    width: 100%;
    height: 100%;
    margin: 0 auto 50px auto;
    display: flex;
  }

  #profile_img {
    box-sizing: border-box;
    width: 30%;

    img {
      box-sizing: border-box;
      width: 80px;
      height: 80px;
      margin-left: 50px;
    }
  }

  #profile_text p {
    width: 150px;
    font-size: 12px;
  }

  /* ========================
  ===========================
  スキルレスポンシブCSS
  ===========================
  ============================*/

  #skill {
    margin-bottom: 30px;
  }

  #skill_title {
    h2 {
      @include responsive_h2(90px);
    }

    margin-bottom: 30px;
  }

  #slill_first_p {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }

  #slill_second_p {
    width: 100%;
    margin-bottom: 0;
  }

  @mixin skillbox_responsive{
    float: none;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 0 auto 30px auto;
  }

  #skill_front, #skill_back {
    @include skillbox_responsive;
  }

  #skill_third_p {
    width: 100%;
    margin-bottom: 340px;
  }

  #skill_DB, #skill_infra {
    @include skillbox_responsive;
  }

  #skill_fourth_p {
    width: 100%;
    margin-bottom: 300px;
  }

  #skill_other, #skill_Owned {
    @include skillbox_responsive;
  }

  /* ========================
  ===========================
  ワークスレスポンシブCSS
  ===========================
  ============================*/

  #skill {
    margin-bottom: 0;
  }

  #works_title {
    margin-bottom: 30px;

    h2 {
      @include responsive_h2(75px);
    }
  }

  #works_list {
    width: 90%;
    height: auto;
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 45%;

        &:nth-child(3) {
          margin-top: 30px;
        }
      }
    }
  }

  /* ========================
  ===========================
  コンタクトレスポンシブCSS
  ===========================
  ============================*/

  #contact_title h2 {
    @include responsive_h2(50px);
  }

  /* ========================
  ===========================
  フッターレスポンシブCSS
  ===========================
  ============================*/
}